table {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: .5rem;
}

.example-viewport {
    height: 200px;
    width: 100%;
    border: 1px solid black;
}

.example-item {
    height: 50px;
}


/* .table-show {
    margin: 0 auto;
    width: 70%;
} */