.routers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: steelblue;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.list li {
    list-style: none;
}

.list li a {
    text-decoration: none;
}
