.toolbars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    width: 700px;
    margin: auto;
    background-color: white;
}

.container__window {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__operations {}

.container__results {
    border: 1px solid lightgray;
}

.items {
    display: flex;
    flex-direction: column;
    --justify-content: center;
    --align-items: flex-start;
    --height: 35%;
    --gap: .5rem;
}

.items label {
    text-align: center;
    font-size: 16px;
    color: blue
}

.quantity {
    height: 100%;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.button-position {
    margin: auto;
}

@media screen and (max-width:600px) {
    .container__window {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .container {
        width: 100%;
    }
}
