.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 790px;
    gap: .5rem;
    background-color: lightgray;
    border-radius: 3%;
}

.toolbars {
    display: flex;
    justify-content: center;
    align-items: center;
    --background-color: steelblue;
    background-color: lightgray;
    --border-radius: 10%;
}

.container__window {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.container__results {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
}

.container__operations {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.items {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.items label {
    text-align: center;
    font-size: 16px;
    color: blue
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.button-position {
    display: flex;
    gap: .5rem;
}

@media screen and (max-width:600px) {
    .container {
        width: 100%;
        /* -o-animation: 50%; */
    }
}
