/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --background-color: black;
    overflow-x: hidden;
}


/* this is being used in two components(options and main-pages) */

.head-title h1 {
    text-align: center;
    padding-top: 1rem;
}

.main-result {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.mat-divider {
    border-top-color: steelblue;
}

.item-result {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}

.item-result label {
    text-align: center;
    color: blue;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.options-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
