/* start eveything related to options */

.options-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}


/* end eveything related to options */


/* start eveything related to frame display */


/* end  eveything related to options */
