<header class="head-title">
    <h1>Check Your Budget Over Time</h1>
    <mat-divider></mat-divider>
</header>
<main class="main-result">
    <div class="options-result">
        <div class="item-result">
            <label>options</label>
            <mat-form-field appearance="fill" floatLabel="always" class="quantity">
                <mat-select>
                    <mat-option value="1"> 1 </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="item-result">
            <label>options</label>
            <mat-form-field appearance="fill" floatLabel="always" class="quantity">
                <mat-select>
                    <mat-option value="1"> 1 </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="item-result">
            <label>options</label>
            <mat-form-field appearance="fill" floatLabel="always" class="quantity">
                <mat-select>
                    <mat-option value="1"> 1 </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="frame-result">
        <div #showresults id="show" class="plotly-result">
            <!-- <router-outlet></router-outlet> -->
        </div>
    </div>
    <br />
    <div class="action-button">
        <button mat-raised-button (click)="homePage()">Back</button>
        <button mat-raised-button (click)="showGraphs()">showresults</button>
    </div>
</main>